<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.myweb.pojo.User">
        <!--实体类属性与字段的映射-->
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="descripte" jdbcType="VARCHAR" property="descripte"/>
        <result column="realname" jdbcType="VARCHAR" property="realname"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="job_status" jdbcType="VARCHAR" property="jobStatus"/>
        <result column="salary" jdbcType="DOUBLE" property="salary"/>
        <result column="school" jdbcType="VARCHAR" property="school"/>
    </resultMap>
    <sql id="columnAll">
        uid
        , login_name, login_pwd,gender, telephone, email,descripte, realname, address,job_status, salary, school
    </sql>
    <insert id="insert" parameterType="com.myweb.pojo.User">
        <!--
          用户注册
        -->
        insert into user (uid, login_name, login_pwd,
        gender, telephone, email,
        descripte, realname, address,
        job_status, salary, school
        )
        values (#{uid,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{loginPwd,jdbcType=VARCHAR},
        #{gender,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
        #{descripte,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{jobStatus,jdbcType=VARCHAR}, #{salary,jdbcType=DOUBLE}, #{school,jdbcType=VARCHAR}
        )
    </insert>
    <!--根据用户名查找-->
    <select id="findByUserLoginName" resultMap="BaseResultMap">
        select <include refid="columnAll"></include> from user where login_name = #{loginName}
    </select>
    <!--用户登录-->
    <select id="userLogin" resultMap="BaseResultMap">
        select <include refid="columnAll"></include> from user where login_name = #{loginName} and login_pwd =
        #{loginPwd}
    </select>
    <!--根据真实姓名查找内容-->
    <select id="findUserByRealname" resultMap="BaseResultMap">
        select <include refid="columnAll"></include> from user where realname = #{realName}
    </select>
    <!--根据uid查找-->
    <select id="findById" resultMap="BaseResultMap">
        select <include refid="columnAll"></include> from user where uid = #{uid}
    </select>
    <!--保存简历-->
    <update id="saveResume" parameterType="com.myweb.pojo.User">
        update user
        set gender     = #{gender,jdbcType=VARCHAR},
            telephone  = #{telephone,jdbcType=VARCHAR},
            email      = #{email,jdbcType=VARCHAR},
            descripte  = #{descripte,jdbcType=VARCHAR},
            realname   = #{realname,jdbcType=VARCHAR},
            address    = #{address,jdbcType=VARCHAR},
            job_status = #{jobStatus,jdbcType=VARCHAR},
            salary     = #{salary,jdbcType=DOUBLE},
            school     = #{school,jdbcType=VARCHAR}
        where uid = #{uid}
    </update>
    <!--查询所有用户-->
    <select id="findAllUser" resultMap="BaseResultMap">
        select <include refid="columnAll"></include> from user
    </select>
    <!--根据id删除用户-->
    <delete id="deleteById">
        delete from user where uid = #{uid}
    </delete>
    <!--计算用户总数-->
    <select id="countUserNumber" resultType="int">
        select count(*) from user;
    </select>
</mapper>